/* Animation Keyframes */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeIn2 {
  from {
      opacity: 0;
      transform: translateX(40px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeIn3 {
  from {
      opacity: 0;
      transform: translateX(-30px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


/* Animation Styles */
.animate-text {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.animate-img{
  opacity: 1;
  animation: fadeIn2 0.8s linear;
}

.animate-btn{
  opacity: 1;
  animation: fadeIn3 1s linear;
}

.animate-text:nth-child(1) {
  animation-delay: 0.5s;
}

.animate-text:nth-child(2) {
  animation-delay: 0.8s;
}



body{
  background-image: url(images/Untitled\ design\ \(4\).png);
    background-repeat: no-repeat;
    background-color: #EDF4FF;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}
/* HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #041d2e;
  background: rgb(1,6,24);
  background: linear-gradient(58deg, rgb(1, 16, 31) 0%, rgb(1, 32, 53) 52%);
  padding: 10px 20px;
  color: white;
  position: relative;
  font-family: "Kanit", sans-serif;
  
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.nav-name {
  font-size: 26px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: 0.3s;
}

.nav-right a:hover {
  background-color: #ebf9ff;
  color: #111;
}

.search-container {
  position: relative;
  margin-left: 20px;
}

#search-bar {
  padding: 10px;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}

.autocomplete-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  z-index: 99;
  background-color: white;
  display: none; /* Initially hide the dropdown */
  box-sizing: border-box;
}

.autocomplete-items li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-items li a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
}

.autocomplete-items li:hover {
  background-color: #007bff;
}

.autocomplete-items li:hover a {
  color: white;
}

.sign-up-btn {
  color: white;
  border-radius: 20px;
  padding: 6px 20px;
  margin-left: 20px;
background-color: #041d2e;
}

.sign-up-btn:hover {
  background-color: #041d2e;
  border-bottom: 1px solid #97c0f5;
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-right {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
  }

  .nav-right a,
  .search-container,
  .sign-up-btn {
      padding: 10px;
      text-align: center;
  }

  .search-container {
      margin-left: 0;
  }

  .nav-toggle {
      display: flex;
  }

  .nav-right.show {
      display: flex;
  }
}


  .front{
    display: flex;
   max-height: 90vh;
  }
  .left{
    margin: 300px 100px;
  }

  .btn1 button {
    margin-top: 30px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    width: 180px;
    height: 35px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0d1c30;
    border: 0px solid #000000;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 0px 2px 0px #a6d8c2;
    color: #eee;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    cursor: pointer;

  }

  .btn1 button:hover{
    box-shadow: 0px 2px 2px 0px #a6d8c2;
    transform: translateY(-5px);
    background-color: none;
  }
  
  .left h2{
    color: #bfd7f7;
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-size: 20px;
    margin: 300px 0px;
  }

  .left h1{
    color: #bfd7f7;
    font-size: 50px;
    font-weight: 800;
    font-family: "Marcellus SC", serif;
    text-shadow: 0px 0px 4px #000000;
}

.left p{
    text-shadow: 0px 0px 2px #000000;
    font-weight: 700;
    color: #d3e6fd;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -10px;
}

  .right img{
    margin-left: 450px 450px;
    height: 700px;
  }

  .right{
    display: flex;
    margin: 150px;
  }

  /* second page */

  #page2{
    min-height: 100vh;
  }

  #page2 h1{
    margin-top: 180px;
    text-align: center;
    text-shadow: 2px 2px 2px #252525;
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: 400;
    color: #252525;
    font-family: "Black Ops One", system-ui;
    text-transform: uppercase;
  
  }

   .second{
    position: fixed;
    margin-left: 900px;
    margin-top: 140px;
   }
   
   
   .second ul li{
     display: inline-block;
     cursor: pointer;
     margin: 5px;    
     transition: 0.3s;
   }
 
   .second ul li:hover{
     transform: translateX(-5px);
   }
   
   .second img{
     width: 24px;
     height: 24px;
     border-radius: 6px;
     padding: 4px;
     /* box-shadow: 0px 0px 5px 0px #034d70; */
 }
 
 /* .second img:hover {
   box-shadow: 1px 1px 5px 1px rgb(105, 148, 221);
 } */

 .new-right{
  margin-left: 1250px;
  margin-top: 50px;
 }

 .new-right ul{
  display: flex;
  list-style: none;
  gap:5px;
  font-size: 20px;
  font-family: "Edu TAS Beginner", cursive;
  font-weight: 700;
  letter-spacing: 1px;
 }

 .new-right li {
  border-top: 2px solid #6aabff;
  text-shadow: 0px 0px 5px #111;
  box-shadow: 0px 2px 2px 0px #121212;
  width: 140px;
  height: 25px;
  padding: 5px;
  text-align: center;
  background-color: #0d1c30;
  transition: 0.3s;
 }

 .new-right li:hover{
  border-top: 2px solid #97c0f5;
  text-shadow: 0px 0px 5px #111;
  background-color: #0048a7;
 }

 .new-right li a{
  color: #EDF4FF;
  text-decoration: none;
 }

  #page2 .new-left h1{
    color: #00234b;
   margin: 100px;
   text-align: justify;
   text-transform: none;
   text-shadow: none;
   font-weight: bolder;
   font-size: 50px;
   letter-spacing: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .new-left p{
    color: #01377e;
    margin: -80px 100px;
    font-family: "Fugaz One", sans-serif;
  }

  .new-left span{
    color: #0048a7;
    border-bottom: 2px solid #01377e;
  }

  #click{
    cursor: pointer;
  }

  .product-cards {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 100px;
    
  }

  .container{
    display: block; 
  }

  .product-card {
    height: 350px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0px #000000;
    margin: 10px;
    padding: 20px;
    border-top: 3px solid #01377e;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
  }
  .product-card:hover{
    box-shadow: 0px 4px 8px 0px #01377e;
    transform: translateY(-5px);

  }
  
  .product-card img {
    width: 250px;
    height: 250px;
    padding: 10px;
    background-color: #EDF4FF;
  }

  #products1 img{
    width: 200px;
    padding: 0px 33px 20px 33px;
  }
  
  .product-card h3 {
    font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #252525;
    margin-top: 10px;
  }
  
  .product-card p {
    color: #01377e;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:-10px;
    margin-left: 0px;
    font-family: none;
  }


  /* SERVICES */

.services{
  margin-top: 40px;
  display: flex;
}

  .page3{
    display: flex;
    flex-wrap: nowrap;
    min-height: 10vh;
    padding: 10px;
    margin: -7px;
    gap: 20px;
    border: 1px solid #041d2e;
    background-color: #EDF4FF;
  }

  .services{
    margin-top: 20px;
  }

  .services img{
    transition: 0.5s;
  }

  .services img:hover{
    transform: translateY(-10px);

  }

  .page3 p {
    margin-left: 18px;
    font-size: 18px;
    margin-top: 10px;
    color: #111;
    font-family: "Marcellus SC", serif;
    font-weight: 800;
  }

  .service1{
    display: flex;
    border-right: 1px solid #00234b;
    height: 40px;
    width: 290px;
    padding: 15px;
    margin-left: 100px;
  }

  .service2{
    display: flex;
    border-right: 1px solid #00234b;
    height: 40px;
    width: 290px;
    padding: 15px;
    margin-left: 15px;
  }

  .service3{
    display: flex;
    border-right: 1px solid #00234b;
    height: 40px;
    width: 290px;
    padding: 15px;
    margin-left: 15px;
  }

  .service4{
    display: flex;
    border-right: 1px solid #00234b;
    height: 40px;
    width: 290px;
    padding: 15px;
    margin-left: 15px;
  }

  .service5{
    display: flex;
    /* border-right: 1px solid #00234b; */
    height: 40px;
    width: 290px;
    padding: 15px;
  }



  /* FOOTER  */

  .footer {
    display: flex;
    margin: 0px -8px;
    background-color: #0d1c30;
    padding: 100px ;
    min-height: 30vh;
   }

   .logo{
    margin-top: 20px;
   }

   .logo p {
    color: #EDF4FF;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

   }

   .logo img{
   height: 33px;
   }

   .foot1{
    margin-left: 140px
   }

   .foot2{
    margin-left: 140px;
   }
  
  .foot1 h3{
    color: #EDF4FF;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .foot1 p{
    color: #EDF4FF;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;
  }
  
  .foot1 p:hover {
    color: #97c0f5;
    cursor: pointer;
  }
  
  .foot2 h3{
    color: #EDF4FF;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .foot2 p{
    color: #EDF4FF;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
  }
  
  .foot2 p:hover {
    color: #97c0f5;
    cursor: pointer;
  }

  .news{
    margin-left: 100px;
  }
  
  
   .news p {
    margin-left: 50px;
    color: #EDF4FF;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
   }
  
   .news #user {
    margin-left: 50px;
    background-color: #121212;
    color: #EDF4FF;
    padding: 6px;
    border: 1px solid #121212;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #252525;
  
   }
  
   .news button{
    margin-left: 50px;
    width: 240px;
    border: 1px solid #121212;
    border-radius: 5px;
    background-color: #121212;
    color: #EDF4FF;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 0px 5px 0px #252525;
    transition: 0.3s;
  
   }
  
   .news button:hover{
    color: #eee;
   }
  
   .newimg{
    margin-left: 50px;
   }
  
   .newimg img {
    height: 30px;
    margin-top: 10px;
    padding: 5px;
    transition: 0.2s;
  
   }
  
   .newimg img:hover {
    filter: drop-shadow(0px 0px 1px );
    transform: translateY(-2px);
   }
  